tensorflow==2.11.0
tensorflow-datasets
tensorflow-recommenders==0.7.2
google-cloud-aiplatform==1.71.0
google-cloud-storage==2.18.0
tensorboard
tensorboard-plugin-profile
tensorboard-plugin-wit
tensorboard-data-server
tensorflow-io